.header {
  background: linear-gradient(-45deg, rgba(48, 67, 82, .5), rgba(215, 210, 204, .5)) fixed, url(mom-and-baby-yoga.jpg) fixed;
  background-size: cover;
  height: 100px;
  padding: 20px 0 20px 0;
}

.search {
  /* font-size: 16px;
  border-radius: 4;
  border: 1px solid gray;
  padding: 0 10px 0 12px; */
  width: 400px;
  /* box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); */
}

.button {
  margin-top: 30px;
  margin-left: 10px;
}